:root {
    --background: #ffffff;
    --foreground: #171717;
    font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html,
body {
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes down {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

.animate-main {
    animation-name: right;
    animation-duration: 300ms;
}

.animate-appear {
    animation-name: appear;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

#page-centers {
    width: 100%;
    height: 100%;

    display: flex;
}

aside {
    width: clamp(24rem, 25vw, 35rem);
    background: linear-gradient(329.54deg, #15d675 0%, #006a4e 100%);
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.subtitle {
    font-size: 2.5rem;
}

.verse {
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 6rem;
}

aside footer p {
    margin-top: 0.8rem;
}

footer {
    font-size: 2rem;
}

#mapID {
    width: 100%;
    height: 100%;

    animation-delay: 200ms;
}

/* button */

a.create-center {
    position: absolute;
    right: 4rem;
    bottom: 4rem;

    z-index: 10;

    width: 6.4rem;
    height: 6.4rem;
    background: #15d675;
    border: 0;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 200ms;
}

a.create-center:hover {
    background: #15d675;
}

body .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.699);
    border-radius: 20px;
}

body .leaflet-popup-content {
    color: #13af61;
    margin: 0.5rem 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15d675;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.leaflet-popup-content a:hover {
    background: #13af61;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    z-index: 5;
}

@media (max-width: 768px) {
    .animate-main {
        animation-name: down;
    }

    #page-centers {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 100%;
        padding: 1.5rem;
    }

    .title {
        text-align: center;
        margin-bottom: 0rem;
        font-size: 3rem;
    }

    .subtitle {
        display: none;
    }

    .verse {
        display: none;
    }

    footer {
        display: none;
    }
}
