:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 62.5%;
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

/* Animações */
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in-up {
    animation-name: fade-in-up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

.slide-in-left {
    animation-name: slide-in-left;
    animation-duration: 300ms;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}

/* Estrutura da Página */
#donation-page {
    width: 100%;
    height: 100%;

    display: flex;
}

/* Sidebar */
.donation-sidebar {
    width: clamp(24rem, 25vw, 35rem);
    background: linear-gradient(329.54deg, #15d675 0%, #006a4e 100%);
    padding: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.sidebar-title {
    font-size: 3.5rem;
}

.logo-image {
    width: 10rem;
    height: 10rem;
}

.section-subtitle {
    font-size: 2.5rem;
    text-align: center;
}

.donation-verse {
    margin-top: 2rem;
    font-size: 2rem;
    margin-bottom: 6rem;
    text-align: center;
}

.donation-image {
    display: block;
}

.donation-sidebar footer p {
    margin-top: 0.8rem;
}

.sidebar-footer {
    font-size: 2rem;
}

#map-container {
    width: 100%;
    height: 100%;

    animation-delay: 200ms;
}

/* button */

a.add-donation-center {
    position: absolute;
    right: 2rem;
    bottom: 2rem;

    z-index: 10;

    width: 6.4rem;
    height: 6.4rem;
    background: #15d675;
    border: 0;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 200ms;
}

a.add-donation-center:hover {
    background: #13c069;
}

body .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.699);
    border-radius: 20px;
}

body .leaflet-popup-content {
    color: #13af61;
    margin: 0.5rem 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15d675;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

.leaflet-popup-content a:hover {
    background: #13af61;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    z-index: 5;
}

/* Media Queries */

@media (max-width: 768px) {
    .slide-in-left {
        animation-name: fade-in-down; /* Crie um @keyframes fade-in-down se necessário */
    }

    #donation-page {
        display: flex;
        flex-direction: column;
    }

    .donation-sidebar {
        width: 100%;
        padding: 1.5rem;
    }

    header {
        flex-direction: row-reverse;
    }

    .sidebar-title {
        text-align: center;
        font-size: 2.5rem;
    }

    .logo-image {
        width: 6rem;
        height: 6rem;
    }

    .section-subtitle {
        display: none;
    }

    .donation-verse {
        display: none;
    }

    .donation-image {
        display: none;
    }

    .sidebar-footer {
        display: none;
    }
}

@media (max-width: 480px) {
    header {
        gap: 1rem;
    }

    .sidebar-title {
        font-size: 1.8rem;
    }

    .logo-image {
        width: 4rem;
        height: 4rem;
    }

    a.add-donation-center {
        right: 2rem;
        bottom: 2rem;
        width: 5.4rem;
        height: 5.4rem;
        border-radius: 1rem;
    }
}
